[Service]
LimitNOFILE=1000000
Environment=RUST_LOG=info
Environment=SOW_MGMT_LISTEN=0.0.0.0
Environment=SOW_MGMT_TLS_REQUIRED=1
Environment=SOW_RELAY_WORKER_COUNT=__SOW_RELAY_WORKER_COUNT__
Environment=SOW_RELAY_MAX_CONNECTIONS=__SOW_RELAY_MAX_CONNECTIONS__
Environment=SOW_RELAY_MAX_CONNECTIONS_PER_IP=__SOW_RELAY_MAX_CONNECTIONS_PER_IP__
Environment=SOW_RELAY_HANDSHAKES_PER_IP=__SOW_RELAY_HANDSHAKES_PER_IP__
Environment=SOW_DB_URL=__SOW_DB_URL__
Environment=SOW_DB_RESOLVE_IP=__SOW_DB_RESOLVE_IP__
Environment=SOW_REPLAY_SPOOL_DIR=__SOW_REPLAY_SPOOL_DIR__
Environment=SOW_WS_WRITE_TIMEOUT_MS=__SOW_WS_WRITE_TIMEOUT_MS__
Environment=SOW_RELAY_GIT=__SOW_RELAY_GIT__
Environment=SOW_FSTACK_VERSION=__SOW_FSTACK_VERSION__
Environment=SOW_DB_SECRET=__SOW_DB_SECRET__
Environment=SOW_RELAY_CONTROL_SECRET=__SOW_RELAY_CONTROL_SECRET__
Environment=SOW_RELAY_TLS_CERT=/usr/local/etc/sow/relay.crt
Environment=SOW_RELAY_TLS_KEY=/usr/local/etc/sow/relay.key
